@import "../../assets/css/variables";

.header {
    background-color: var(--white-to-black);
    padding-top: 24px;

    @media screen and (max-width: 768px) {
            padding: 16px 0;
    }

    &__title {
        @include text(var(--grey-4-to-grey-3), 1.75rem, normal, bold, 2.375rem);


        @media screen and (max-width: 768px) {
                font-size: 1.8rem;
                padding: 0 16px;
        }
    }

    &_transparent-background {
        background: var(--tranparent);
    }

    &__logo {
        display: flex;
        gap: 8px;

        @media screen and (max-width: 768px) {
                justify-content: center;
        }
    }

    &__logo path,
    &__logo rect {
        fill: var(--black-to-white);
    }
}