@import "../../assets/css/variables";

.header {
    background: var(--white);
    padding-top: 24px;

    @media screen and (max-width: 768px) {
            padding: 16px 0;
    }

    &__title {
        @include text(var(--grey-4, #495057), 1.75rem, normal, 400, 2.375rem);

        @media screen and (max-width: 768px) {
                font-size: 1.8rem;
                padding: 0 16px;
        }
    }

    &_transparent-background {
        background: var(--tranparent);
    }

    &__logo {
        display: flex;
        gap: 8px;

        @media screen and (max-width: 768px) {
                justify-content: center;
        }
    }
}