@import "../../assets/css/variables";

.aside {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include text(var(--black), 20px, normal, 400, 26px);

    @media screen and (max-width: 768px) {
            display: none;
    }

    &__navigation {
        display: grid;
        grid-template-rows: repeat(7, auto);
        gap: 4px;
        color: var(--black-to-grey-2);
    }

    &__link {
        text-decoration: none;
        font-size: 14px;
        line-height: 22px;
        color: inherit;
    }

    &__navigation::after {
        content: '';
        margin-bottom: 24px;
        grid-row: 7;
    }

    &__link_changed {
        color: #D84910;
    }

    &__burger {
        display: none;
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__burger_mobile-navigation {
        padding-left: 16px;
    }

    &_mobile-menu {
        display: block;
    }

    &__mobile-navigation {
        opacity: 0;
        transition: all 0.6s ease;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--white-to-black);
        width: 100%;
        height: 100%;
    }
}