@import "../../assets/css/variables";

.card {
  @include widthAndHeight(100%, 100%);
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(33, 36, 41, 0.05);
  background: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
    margin-top: 1.5rem;
  }

  &__footer_tooltip {
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 2px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }

  &__forms_main-page {
    width: 80%;
    height: 60%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    pointer-events: none;
  }
}

