@import "../../assets/css/variables";

.modal {
    display: none;
    @include widthAndHeight(100vw, 100vh);
    margin: 0;
    @include positionAndBackground(rgba(196, 196, 196, 0.5), null, fixed, 0, 0, null, null);
    z-index: 1;

    &__window {
        padding: 30px 40px;
        max-width: 458px;
        border-radius: 8px;
        border: 1px solid var(--grey-3);
        @include positionAndBackground(null, var(--white-to-black), absolute, 50%, 50%, null, null);
        transform: translate(-50%, -50%);

        @media (max-width: 768px) {
            padding: 10px;
        }
    }

    &__window_main-page {
        padding: 16px 24px 24px 24px;
        position: relative;
        transform: none;
        top: 0;
        left: 0;
        max-width: 200px;
    }

    &__open {
        display: inline-flex;
        justify-content: center;
        height: 3rem;
        @include text(null, 1rem, normal, 500, 1.2);
        font-family: 'Roboto', sans-serif;
        padding: 0.875rem 1rem;
        text-align: center;
        border-radius: 0.5rem;
        border: none;
        box-shadow: none;
        cursor: pointer;
        transition: all 0.2s linear;
        color: white;
        background-color: var(--primary);
        max-width: 200px;
    }

    &__open_mobile-menu {
        background-color: transparent;
        border: none;
    }

    &__open-fill {
        fill: var(--black-to-white);
    }

    &__open:hover {
        background-color: var(--primary-hover);
    }

    &__close {
        fill: var(--black-to-grey-2);
        @include positionAndBackground(null, var(--white-to-black), absolute, 16px, null, null, 16px);
        padding: 0;
        border: 0;
    }

    &__close:hover {
        cursor: pointer;
    }

    &__title {
        @include text(var(--black-to-grey-2), 20px, normal, 600, 24px);
    }

    &__title_main-page {
        margin-top: 0;
    }

    &__text {
        @include text(var(--grey-4-to-grey-3), 16px, normal, 400, 24px);
    }
}