@import "../../assets/css/variables";

.navigation {

  &__list {
    @include text(var(--grey-3), 16px, normal, 400, 24px);
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding-inline-start: 0;
    padding: 10px 100px;
    background-color: var(--white);
  }

  &__point {
    position: relative;
    padding: 8px 0;
    transition: all 250ms ease-in-out;
  }

  &__point::after {
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    top: 100%;
    background-color: var(--black);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &__line {
    border: 1px solid var(--grey-3);
  }

  &__list label {
    cursor: pointer;
  }

  &__pages {
    padding: 48px 0;
    background-color: var(--grey-2);
  }

  &__page {
    display: none;
  }

  #nav1:checked ~ &__pages &__page-1,
  #nav2:checked ~ &__pages &__page-2,
  #nav3:checked ~ &__pages &__page-3,
  #nav4:checked ~ &__pages &__page-4
  {
    display: block;
  }

  #nav1:checked ~ nav &__list &__point-1::after,
  #nav2:checked ~ nav &__list &__point-2::after,
  #nav3:checked ~ nav &__list &__point-3::after,
  #nav4:checked ~ nav &__list &__point-4::after,
  &__point:hover::after {
    transform: scaleX(1);
  }

  #nav1:checked ~ nav &__list &__point-1,
  #nav2:checked ~ nav &__list &__point-2,
  #nav3:checked ~ nav &__list &__point-3,
  #nav4:checked ~ nav &__list &__point-4,
  &__point:hover
  {
    color: var(--black);
  }
}