@import "../../assets/css/variables";

.preview {

    &__cards {
        display: grid;
        //grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
        grid-template-columns: repeat(3, calc(33.3333% - 15px));
        grid-template-rows: repeat(auto-fill, minmax(350px, auto));
        grid-gap: 30px;
        place-items: center;
    }

    & input {
        display: none;
    }
}